<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Snapshot Gallery</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="script.js"></script>
</head>

<body>

  <ul class="accordion">
    {{#eachProperty this}}
      <li>
        <a class="toggle day" href="javascript:void(0);">{{Date property}} ({{ImageCountDay value}} images)</a>
        <ul class="inner">
          {{#eachProperty value}}
            <li>
              <a class="toggle hour" href="javascript:void(0);">{{Hour property}} <span class="imageCount">({{ImageCountHour value}} images)</span></a>
              <ul class="inner">
                <li>
                  {{#eachProperty value}}
                    <div class="imageWrapper notLoaded" data-url="file://{{value.filename}}">
                      <img src="#" alt="Snapshot at {{Timestamp value.datetime}}" />
                      <p>{{Timestamp value.datetime}}</p>
                    </div>
                  {{/eachProperty}}
                </li>
              </ul>
            </li>
          {{/eachProperty}}
        </ul>
      </li>
    {{/eachProperty}}
  </ul>

</body>

</html>
