<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Snapshot Gallery</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="script.js"></script>
</head>

<body>

  <ul class="accordion">
    {{#each date}}
      <li>
        <a class="toggle" {{#if @last}} id="newestDay" {{/if}} href="javascript:void(0);">{{Date @key}} ({{ImageCountDay this}} images)</a>
        <ul class="inner">
          {{#each this}}
            <li>
              <a class="toggle hour" href="javascript:void(0);">{{Hour @key}} <span class="imageCount">({{ImageCountHour this}} images)</span></a>
              <ul class="inner">
                <li>
                  {{#each this}}
                    {{#each this}}
                      <div class="imageWrapper notLoaded" data-url="file://{{this}}">
                        <img src="#" alt="Snapshot at {{Timestamp this}}" />
                        <p>{{Timestamp this}}</p>
                      </div>
                    {{/each}}
                  {{/each}}
                </li>
              </ul>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>


</body>

</html>
