<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Snapshot Gallery</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="script.js"></script>
</head>

<body>

  <ul class="accordion">
    {{#each date}}
      <li>
        <a class="toggle" href="javascript:void(0);">{{Date @key}}</a>
        <ul class="inner">
          {{#each this}}
            <li>
              <a class="toggle hour" href="javascript:void(0);">{{Hour @key}} <span class="imageCount">({{ImageCount this}} images)</span></a>
              <ul class="inner">
                {{#each this}}
                  <li>
                    {{#each this}}
                      <div class="imageWrapper notLoaded" data-url="file://{{this}}">
                        <img src="" />
                        <p>{{Timestamp this}}</p>
                      </div>
                      <!-- /imageWrapper -->
                    {{/each}}
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
        <!-- /hour -->
      </li>
      <!-- /day -->
    {{/each}}
  </ul>


</body>

</html>
